<template>
  <div class="accueil">
    <!-- En-tête -->
    <header>
      <h1>Recherche de Films</h1>
    </header>
    <!-- Contenu principal -->
    <main>
      <p>Bienvenue sur notre plateforme de recherche de films. Trouvez vos films préférés en un clin d'œil.</p>
      <!-- Bouton de recherche -->
      <router-link to="/recherche" class="btn-search">Commencer la recherche</router-link>
    </main>

    <!-- Affichage des films populaires -->
    <div v-if="Filmpopulaire.length > 0">
      <h2>Films populaires</h2>
      <ul>
        <li v-for="film in Filmpopulaire" :key="film.id">
          <h3>{{ film.title }}</h3>
<!--          <p>{{ film.overview }}</p>-->
          <img :src="'http://image.tmdb.org/t/p/w500' + film.poster_path" :alt="film.title" @click="voirDetails(film)" />
<!--          <button @click="voirDetails(film)">Details</button>-->
        </li>
      </ul>
    </div>
    <!-- Aucun film populaire trouvé -->
    <div v-else>
      <p>Aucun film populaire trouvé pour le moment.</p>
    </div>
    <!-- Pied de page -->
    <footer>
      <p>&copy; 2024 Recherche de Films. Tous droits réservés.</p>
    </footer>
  </div>
</template>

<script>
import axios from 'axios';
import router from '@/router'; // Assurez-vous d'importer votre objet router depuis vue-router

export default {
  data() {
    return {
      Filmpopulaire: [],
    };
  },
  mounted() {
    this.fetchTendance();
  },
  methods: {
    fetchTendance() {
      axios.get('https://api.themoviedb.org/3/trending/all/day', {
        params: {
          api_key: 'c6553cafc31de35c2f4791915ab58338',
          language: 'fr-FR'
        }
      })
          .then(response => {
            this.Filmpopulaire = response.data.results;
          })
          .catch(error => {
            console.error('Une erreur s\'est produite lors de la récupération des données:', error);
            // Affichage d'un message d'erreur à l'utilisateur
            // Vous pouvez ajouter une logique ici pour afficher un message d'erreur à l'utilisateur en cas de problème de récupération des données.
          });
    },
    voirDetails(film) {
      router.push({
        path: "details",
        query: {
          description: film.overview,
          id: film.id,
          titre: film.title,

        },
      });
    }
  }
}
</script>

<style scoped>
/* Style CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.accueil {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh; /* Utilisation de min-height pour assurer que le contenu s'affiche correctement même avec peu de contenu */
  text-align: center;
}

header {
  background-color: #494a50;
  color: #fff;
  padding: 1rem;
  margin-bottom: 1rem;
}

main {
  max-width: 600px;
  margin: 0 auto;
}

.btn-search {
  display: inline-block;
  margin-top: 1rem;
  padding: 0.5rem 1rem;
  text-decoration: none;
  color: #fff;
  background-color: #cc2e46;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.btn-search:hover {
  background-color: #ae272b;
}

footer {
  margin-top: auto;
  padding: 1rem;
  background-color: #ecf0f1;
}
/* Style CSS */
li {
  display: inline-block; /* Afficher les éléments de liste en ligne */
  width: 30%; /* Définir une largeur fixe pour chaque élément pour qu'ils occupent 30% de la largeur parente */
  margin: 10px; /* Ajouter une marge autour de chaque élément */
  text-align: left; /* Aligner le texte à gauche */
}

img {
  max-width: 20%; /* Définir une largeur maximale pour les images pour qu'elles s'adaptent à la largeur de leur conteneur */
  height: auto; /* Ajuster la hauteur de l'image proportionnellement à sa largeur */
}

</style>
