<!-- ActorDetails.vue -->
<template>
  <div class="actor-details">
    <h1>{{ actor.name }}</h1>
    <p>Âge : {{ calculateAge(actor.birthday) }}</p>
    <img
        v-if="actor.profile_path"
        :src="`https://image.tmdb.org/t/p/w185/${actor.profile_path}` "
        :alt="`Photo de {{ actor.name }}`"
    />
    <ul>
      <h3>Films et séries dans lesquels {{ actor.name }} a joué :</h3>
      <li v-for="credit in credits" :key="credit.id">
        {{ credit.title || credit.name }}
        <img class="img" :src="'http://image.tmdb.org/t/p/w400' + credit.poster_path" alt="Affiche de {{ credit.title || credit.name }}" @click="voirDetails(credit.id)"/>
      </li>
    </ul>
  </div>
</template>

<script setup>
import { ref } from 'vue';

import { useRoute, useRouter } from 'vue-router'; // Ajout de useRouter
import axios from 'axios';

const route = useRoute();
const router = useRouter(); // Utilisation du routeur pour naviguer
const actor = ref({});
const credits = ref([]);
const api_key = "08f083ae6ef0c233928cedb6d2558270";

const getActorDetails = async () => {
  const id = route.params.id;
  const actorResponse = await axios.get(
      `https://api.themoviedb.org/3/person/${id}?api_key=${api_key}&language=fr-FR`
  );
  actor.value = actorResponse.data;

  const creditsResponse = await axios.get(
      `https://api.themoviedb.org/3/person/${id}/combined_credits?api_key=${api_key}&language=fr-FR`
  );
  credits.value = creditsResponse.data.cast;
};

const calculateAge = (birthday) => {
  const birthDate = new Date(birthday);
  const today = new Date();
  let age = today.getFullYear() - birthDate.getFullYear();
  const monthDifference = today.getMonth() - birthDate.getMonth();
  if (monthDifference < 0 || (monthDifference === 0 && today.getDate() < birthDate.getDate())) {
    age--;
  }
  return age;
};

const voirDetails = (film) => {
  router.push({
    name: 'details',
    params: { id: film },
  });
};

getActorDetails();


</script>
