<template>
  <div class="details">
    <h1>Détails du film : {{ film.title }}</h1>
    <div class="content">
      <h3>Description : {{ film.overview }}</h3>
      <h3>Réalisé le : {{ film.release_date }}</h3>
      <h3>Id du film : {{ film.id }}</h3>
      <h3>Popularité : {{ film.popularity }}</h3>
    </div>

    <ul>
      <h3>Casting :</h3>
      <li v-for="actor in actors" :key="actor.id">
        <h3>{{ actor.name }} (rôle) ------> {{ actor.character }}</h3>

        <!-- Image cliquable qui redirige vers la page des détails de l'acteur -->
        <img
            v-if="actor.profile_path"
            :src="`https://image.tmdb.org/t/p/w185/${actor.profile_path}`"
            :alt="`Photo de ${actor.name}`"
            @click="voirDetails(actor.id)"
            class="actor-image"
        />
        <p v-else>Pas de photo disponible</p>
      </li>
    </ul>
  </div>
</template>

<script setup>
import { ref } from 'vue';
import { useRoute, useRouter } from 'vue-router'; // Ajout de useRouter
import axios from 'axios';

const film = ref({});
const actors = ref([]);

const route = useRoute();
const router = useRouter(); // Utilisation du routeur pour naviguer

const api_key = "08f083ae6ef0c233928cedb6d2558270";

const getFilmDetails = async () => {
  const id = route.query.id;
  const response = await axios.get(
      `https://api.themoviedb.org/3/movie/${id}?api_key=${api_key}&language=fr-FR`
  );
  film.value = response.data;

  const credits = await axios.get(
      `https://api.themoviedb.org/3/movie/${id}/credits?api_key=${api_key}&language=fr-FR`
  );
  actors.value = credits.data.cast;
};

const voirDetails = (actorId) => {
  router.push({
    name: 'actor-details',
    params: { id: actorId },
  });
};

getFilmDetails();
</script>

<style>
.actor-image {
  cursor: pointer;
  transition: all 0.3s ease;
}

.actor-image:hover {
  transform: scale(1.1);
}
</style>
