<template>
  <div class="recherche">
    <form @submit.prevent="recherche">
      <div class="input-group">
        <label>RechercheFilms</label>
        <input type="text" v-model="uneRecherche" />
        <button @click="recherche">Search</button>
      </div>
    </form>

    <h2>Résultats de la recherche</h2>

    <!-- Ajoutez une classe à la table pour styliser -->
    <table class="film-table">
      <tr v-for="unFilm in films" :key="unFilm.id">
        <td>
          <div class="film-info">
            <h3>{{ unFilm.title }}</h3>
            <p>{{ unFilm.overview }}</p>
            <button @click="voirDetails(unFilm)">Details</button>
          </div>
        </td>
        <td v-if="unFilm.poster_path !== null" width="50x" height="50px">
          <img :src="'http://image.tmdb.org/t/p/w500' + unFilm.poster_path" :alt="unFilm.title" />
        </td>
      </tr>
    </table>
  </div>
</template>

<script setup>
import axios from "axios";
import { ref } from "vue";
import { useRouter } from "vue-router";

const router = useRouter();

const baseUrl = "https://api.themoviedb.org/3/search/movie";
const films = ref([]);
const uneRecherche = ref("");
const api_key = "08f083ae6ef0c233928cedb6d2558270";
const languages = "fr-FR";



const recherche = async () => {
  console.log(uneRecherche.value);
  let urlComplete =
      baseUrl + "?api_key=" + api_key + "&language" + languages + "&query=" + uneRecherche.value;
  console.log(urlComplete);
  const response = await axios.get(urlComplete);
  films.value = response.data.results;
};

const voirDetails = (film) => {
  router.push({
    path: "details",
    query: {
      id: film.id,
      titre: film.title,
    },
  });
};
</script>

<style scoped>
.recherche {
  padding: 20px;
}

.input-group {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.film-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.film-table td {
  border: 1px solid #ddd;
  padding: 10px;
  vertical-align: top;
}

.film-info {
  max-width: 300px;
}

.film-info h3 {
  margin-bottom: 10px;
}

.film-poster img {
  width: 100%;
  height: auto;
  max-height: 200px;
  object-fit: cover;
}

button {
  padding: 8px 12px;
  background-color: #3498db;
  color: #fff;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #2980b9;
}
</style>