<template>
  <div class="main-content">
    <div class="button">
      <form v-on:submit.prevent="Tendance">
        <div>
          <button class="btn" v-on:click="Tendance">TV</button>
        </div>
      </form>

      <form v-on:submit.prevent="Tendance2">
        <div>
          <button class="btn" v-on:click="Tendance2">FILMS</button>
        </div>
      </form>
    </div>

    <div class="tableau">
      <table v-show="voir">
        <tr v-for="Film in films" v-bind:key="Film.key">
          <td class="titre">{{ Film.original_title }}</td>
          <td>{{ Film.overview }}</td>
          <td v-if="Film.poster_path != null" width="50px">
            <img class="img" v-bind:src="'http://image.tmdb.org/t/p/w500' + Film.poster_path" />
          </td>
          <td>
            <button v-on:click="voirDetail(Film)">Détails</button>
          </td>
        </tr>
      </table>
    </div>
  </div>
</template>



<script setup>
import axios from "axios";
import { ref } from "vue";
import { useRouter } from "vue-router";
const router = useRouter();
const voir = ref(false);

const baseUrl = "https://api.themoviedb.org/3/trending/";
const films = ref([]);
const TV = "tv";
const MOVIE = "movie";
const api_key = "c6553cafc31de35c2f4791915ab58338";

const Tendance = async () => {
  let urlComplete = baseUrl + TV + "/day?api_key=" + api_key;
  const response = await axios.get(urlComplete);
  films.value = response.data.results;
  voir.value = true;
};

const Tendance2 = async () => {
  let urlComplete = baseUrl + MOVIE + "/day?api_key=" + api_key;
  const response = await axios.get(urlComplete);
  films.value = response.data.results;
  voir.value = true;
};

const voirDetail = (film) => {
  router.push({
    path: "details",
    query: {
      id: film.id,
      titre: film.title,
    },
  });
};
</script>

<style scoped>
.img {
  width: 180px;
}

.main-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.titre {
  font-weight: bold;
  color: rgb(255, 255, 255);
}

.button {
  display: flex;
  flex-direction: column;
  width: 30%;
  /* justify-content: space-evenly; */
}

.button button {
  margin: 0 20px;
}

.btn {
  position: relative;
  font-size: 10px;
  text-transform: uppercase;
  text-decoration: none;
  padding: 1em 2.5em;
  display: inline-block;
  border-radius: 6em;
  transition: all 0.2s;
  border: none;
  font-family: inherit;
  font-weight: 500;
  color: black;
  background-color: white;
}

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.btn:active {
  transform: translateY(-1px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 100px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.4s;
}

.btn::after {
  background-color: #fff;
}

.btn:hover::after {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
}

.main-content .tableau {
  width: 70%;
}


</style>

