<script setup>
import HelloWorld from './components/HelloWorld.vue'
import TheWelcome from './components/TheWelcome.vue'
import { defineProps } from 'vue'
</script>

<template>
  <div>
    <header>
      <div class="logo">
        <img alt="Vue logo" src="./assets/logo.cinema.png"/>
      </div>
      <div class="nav-wrapper">
        <nav>
          <router-link to="/"> Accueil </router-link>

        </nav>
      </div>
    </header>

    <main>
      <router-view />
    </main>
  </div>
</template>

<style scoped>
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: #56575d;
  color: #fff;
}

.logo img {
  max-width: 100px;
}

nav {
  display: flex;
}

nav router-link {
  margin-right: 1rem;
  color: #fff;
  text-decoration: none;
}

nav router-link:hover {
  text-decoration: underline;
}

main {
  padding: 1rem;
}
</style>
